{% extends "layout.html" %}

{% block title %}
    Employees
{% endblock %}

{% block main %}

<script>
    function showInactive(employeeID) {
        var form = document.createElement("form");
        form.method = "post";
        form.action = "/change_active_status";
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "employeeID";
        input.value = class_join_id;
        form.appendChild(input);
        var input2 = document.createElement("input");
        input2.type = "hidden";
        input2.name = "active_status";
        
        input2.value = class_date;
        form.appendChild(input2);

        document.body.appendChild(form);
        form.submit();
    }

    function changeActiveStatus(element, employeeID) {
        //var employeeId = element.parentNode.parentNode.querySelector("input[name='employee_id']").value;
        console.log(employeeID)
        var active_status = element.checked ? 1 : 0;
        console.log(active_status)

        var form = document.createElement("form");
        form.method = "post";
        form.action = "/change_active_status";
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "employeeID";
        input.value = employeeID;
        form.appendChild(input);
        var input2 = document.createElement("input");
        input2.type = "hidden";
        input2.name = "active_status";
        input2.value = active_status;
        form.appendChild(input2);

        document.body.appendChild(form);
        form.submit();
        // var formData = new FormData();
        // formData.append('employee_id', employeeID);
        // formData.append('active', activeValue);


        // fetch('/update_employee', {
        //     method: 'POST',
        //     body: formData
        // })
        // .then(response => response.json())
        // .then(data => {
        //     // Handle the response data if needed
        // })
        // .catch(error => {
        //     console.error('Error:', error);
        // });
    }
</script>
 
    <div style="text-align: right;"><input name="showActive" id="showActive" type="checkbox"><label for="showActive"> Show active employees only</label></div>

    <div style="text-align: left;">
        <h1>Employees</h1>
    </div>
    <div></div>
    <div> 
        <form method="post" action="/add_employee">
            Add Employee  -
            Name: <input name="employee_name" type="text" required autocomplete="off">
            Type: 
            <select id="role" name="role" required>
                <option value="" selected disabled hidden>Select type</option>
                <option value ="0">Teacher</option>
                <option value ="1">Student</option>
            </select>
            <input type="submit" name="add" value="Add Teacher" style="border-radius: 10%; background-color: lightblue; border: none;">
        </form>
    </div>    
    <hr>
    <div>
        
    {% if results %}        
        <form method="post" action="/edit_employee">
        <table  style="text-align: left;">
            <!-- <tr>
                <td>
                    <button name="edit" style="visibility: hidden;">Edit</button>
                    <button name="make_inactive">Make Inactive</button>
                </td>
                <td>
                    
                </td> -->
            </tr>

            
            {% for result in results %}

            <tr>
                <td>
                    {{ result.name }}
                </td>
                <td name="employee" id="{{result.id}}"> 
                    {% if result.role == 0 %}
                        Teacher
                    {% else %}
                        Student
                    {% endif %}
                    <!-- /
                    {% if result.active == 0 %}
                        (Inactive)
                    {% else %}
                        (Active)
                    {% endif %} -->
                </td>
                <td>
                    <input type="checkbox" name="edit" onclick="changeActiveStatus(this, {{result.id}})" value="1" {% if result.active %} checked {% endif %}>

                </td>
                </td>
            </tr> 

            {% endfor %}

        </table>
        </form>
    
    {% else %}
        <p>No employees found</p>
    {% endif %}
        
    </div>

{% endblock %}
