{% extends "layout.html" %}

{% block title %}
    Services
{% endblock %}

{% block main %}

<script>

    
</script>
   
    <h1 style="text-align: left;">Services</h1>
    <div name="add_service"> 
        <form method="post" action="/add_service">
            Add Service - Name: <input id="service_name" name="service_name" type="text" required>
            Type: 
            <select id="type" name="type" required>
                <option value="" selected disabled hidden>Select type</option>
                <option value = 0>Teacher</option>
                <option value = 1>Student</option>
            </select>
            <input type="submit" name="add" value="Add Service">
        </form>
    </div>    
    <hr>
    
    <div>
        {% if results %}    
            <form method="post" action="/edit_service">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <table style="text-align: left;" name="services">
                                <form method="post" action="/edit_service">
                                {% for result in results %}
                                    {% if result.service_type == 0 %}
                                    <tr id={{result.id}} name="service_row">
                                        <td>
                                            {{ result.service }}
                                        </td>
             
                                    </tr>
                                    {%endif%}
                                    {% endfor %}
                                </form>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table style="text-align: left;" name="services">
                                <form method="post" action="/edit_service">
                                {% for result in results %}
                                    {% if result.service_type == 1 %}
                                    <tr id={{result.id}} name="service_row">
                                        <td>
                                            {{ result.service }}
                                        </td>
             
                                    </tr>
                                    {%endif%}
                                    {% endfor %}
                                </form>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <h3>No services found</h3>
        {% endif %}
    </div>
{% endblock %}